

.dashBoardContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    padding:5px;
    margin: 20px
}

.jobContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    border:5px #ccc solid;
    padding:5px;
}
.schoolContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    border:5px #ccc solid;
    padding:5px;
}


/* .componentContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
    margin: 20px
} */

.jobTitle{
 text-align: center
}

.viewJobsButton{
    text-align: center
}

.schoolTitle{
    text-align: center
}

.viewSchoolsButton{
    text-align: center
}

.btn{
    margin-left:5px;
}

.modalDescriptions{
    font-weight:bold
}

.jobDiv{
    display:flex;
    justify-content: space-between;
    border:5px black solid;
    padding:5px;
    margin:5px;
}

.schoolDiv{
    display:flex;
    justify-content: space-between;
    border:5px black solid;
    padding:5px;
    margin:5px;
}

.jobNameDiv{
    display:flex;
    justify-content:flex-start;
    padding:5px;
    margin:5px;
}

.schoolNameDiv{
    display:flex;
    justify-content:flex-start;
    padding:5px;
    margin:5px;
}
.buttonDiv{
    display:flex;
    justify-content: flex-end;
    padding:5px;
    margin:5px;
}
 .editButton{
    display: flex;
    flex-direction: column;
}

.deleteButton{
    display: flex;
    flex-direction: column;
}

