.bg{
    background-image:url(../../../../ReactCapstone/src/images/balukhelbackground.jpg);
    background-position:bottom;
    background-size:cover;
    width:100%;
    height:100vh;
    margin-top: -75px;

};




.display3{
    color:black;
    opacity: 1.0;
}

.loginForm {
    padding: 0 25px;
}

.login{
    text-align: center;
    font-size:30px;
}

.loginInstruction{
    text-align: center;
    font-size:19px;
}
.loginRegisterForm{

    margin: auto
}

.loginFormFields{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
}

.loginRegisterUsername{
    display: flex;
    flex-direction: column;
    margin-right:10px;
    justify-content: center;
    align-items:center;

}

.loginRegisterPassword{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    justify-content: center;
    align-items:center;
}
.loginButtons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
}

.loginButton{
    display: flex;
    flex-direction: column;
    padding:5px;
    justify-content:center;
    margin-right:150px;
}

.registerButton{
    display: flex;
    flex-direction: column;
    padding:5px;
}

.usernameText{
    font-size:25px;
    font-weight:bold;
}

.passwordText{
    font-size:25px;
    font-weight:bold;
}

